body {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
}

button {
    color: black;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.small {
    font-size: .6rem;
    font-style: italic;
}

/* HEADER */

.header {
    height: 8vh;
    display: flex;
}

.header__h1 {
    margin: auto;
    background-color: brown;
    box-shadow: .5rem .5rem .5rem black;
    padding: 0.5rem 3rem;
    border-radius: 10rem;
    color: white;
    text-shadow: .2rem .2rem .2rem black;
}

/* DIV PLAY */

.play {
    height: 10vh;
    display: flex;
    position: relative;
}

.play-button {
    margin: auto;
    font-size: 2rem;
    border-radius: 10rem 5rem;
    background-color: white;
    box-shadow: .5rem .5rem .2rem brown;
    cursor: pointer;
    padding: .5rem;
}

.play-button--whenOn {
    font-size: 1rem;
    background-color: gray;
}

.play-button--whenOver {
    font-size: 1.5rem;
    background-color: orangered;
    color: white;
    text-shadow: .2rem .2rem .2rem black;
}

.play-button--beforeLevelChoice {
    display: none;
}

.wordsToRest {
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: .2rem;
    border-radius: .5rem;
    background-color: brown;
    height: 70%;
    line-height: 1rem;
}

.wordsToRest--beforeLevelChoice {
    display : none;
}

.wordsToRest__title {
    color: white;
    font-style: italic;
}

.wordsToRest__number {
    color: white;
    text-shadow: .2rem .2rem .2rem black;
}

/* DIV LIFE-TIMER */

.life-timer {
    height: 20vh;
    display: flex;
    border: .2rem solid black;
}

.life-timer--10seconds {
    background-color: red;
}

.life-timer--win {
    background-color: green;
}

.life-timer--beforeLevelChoice {
    height: 45vh;
}

.lvl {
    width: 20%;
    border-radius: 10rem;
    background-color: gray;
    color: brown;
    font-weight: bold;
    font-size: 220%;
}

.lvl:focus {
    background-color: green;
    color: brown;
}

.life {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    list-style: none;
    color: brown;
}

.life--10seconds {
    color: white;
    text-shadow: .2rem .2rem .2rem black;
}

.life--beforeLevelChoice {
    display: none;
}

.heart {
    font-size: 3.5rem;
    text-shadow: .2rem .2rem .2rem black;
}

.heart--over {
    font-size: 3rem;
    color: white;
}

.heart--win {
    font-size: 3rem;
    color: white;
}

.timer {
    width: 50%;
    margin: auto;
    color: brown;
    font-weight: bold;
    font-size: 6rem;
}

.timer--10seconds {
    color: white;
    text-shadow: .2rem .2rem .2rem black;
}

.timer--beforeLevelChoice {
    display: none;
}

.welcome-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
}

.welcome-text li {
    list-style: none;
}

.welcome-text--onGame {
    display: none;
}

/* DIV SCORE */

.score {
    height: 13vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.score-title {
    font-style: italic;
    font-weight: bold;
    background-color: brown;
    padding: .4rem;
    border-radius: 30rem;
    margin-top: 0.4rem;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.level_select {
    background-color: rgb(255, 217, 0);
    color: white;
    text-shadow: .2rem .2rem .2rem black;
    box-shadow: .5rem .5rem .2rem black;
}

.score-number {
    font-weight: bold;
    color: white;
    font-size: 2.5rem;;
    text-shadow: .1rem .1rem .1rem brown;
}

/* DIV GAME */

.game {
    height: 12vh;
    display: flex;
    justify-content: center;
}

.current-word {
    margin: auto;
    background-color: white;
    padding: 1rem;
    font-size: 200%;
    border-radius: 8rem 18rem;
    border: .2em solid brown;
    text-shadow: .1rem .1rem .1rem white;
    font-weight: bold;
}

.current-word--over {
    background-color: red;
    color: white;
    border: .2em solid black;
}

/* DIV BUTTONS */

.buttons {
    height: 12vh;
    display: flex;
    justify-content: space-around;
}

.button {
    width: 30%;
    margin: auto;
    cursor: pointer;
    background-color: rgb(165, 42, 42, 0.8);
    font-size: 2rem;
    border-radius: 50rem;
    padding: 1rem;
    font-weight: bold;
    box-shadow: .2rem .2rem .2rem black;
    line-height: 0.8rem;
}

.button--beforeLevelChoice {
    display: none;
}

/* DIV RESULTS */

.results {
    height: 19vh;
    display: flex;
    justify-content: space-around;
}

.results--beforeLevelChoice {
    display: none;
}

.results__class {
    width: 45%;
    border: 2px solid black;
    box-shadow: .2rem .2rem .2rem black;
    overflow: auto;
}

.results__title {
    margin: .5rem auto;
}

.words__ul {
    margin: auto;
    list-style: none;
    padding-left: 0;

}

.words__ul--pass {
    text-decoration: line-through;
    color: orangered;
    font-style: italic;
}


.words__ul--ok {
    text-decoration: underline;
    color: green;
    font-weight: bold;
}












